.offices {
  padding: 0 0 55px;
  @include from('tablet--pt') {
    padding: 0 0 64px;
  }
  @include from('desktop') {
    flex: 1 1 span(10 of 12);
    margin-left: span(2 wide);
    padding: 0 0 80px;
  }
  &__card {
    position: relative;
    margin-bottom: 18px;
    @include when-inside('.offices__sub-column') {
      max-width: calc(50% - 9px);
      margin-bottom: 0;
    }
    @include from('tablet--pt') {
      &:last-child {
        display: none;
      }
      @include when-inside('.offices__sub-column') {
        &:last-child {
          display: block;
        }
      }
    }
    @include from('desktop') {
      margin-bottom: 30px;
      @include when-inside('.offices__sub-column') {
        max-width: calc(50% - 15px);
      }
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 40%;
      width: 100%;
      opacity: 0.6;
      background-image: linear-gradient(to bottom, rgba(57, 72, 83, 0), #262a2b);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -9px;
    padding: 33px 0 37px;
    @include from('tablet--pt') {
      padding: 43px 0 73px;
    }
    @include from('desktop') {
      margin: 0 -15px;
      padding: 88px 0 56px; // padding reduced to 56px from 114px NJW-1285
    }
  }
  &__column {
    flex: 1 1 span(2 of 4);
    padding: 0 9px;
    @include from('tablet--pt') {
      flex: 1 1 span(3 of 12);
      max-width: 25%;
    }
    @include from('desktop') {
      padding: 0 15px;
    }
    &:nth-child(3) {
      flex: 1 1 span(4 of 4);
      order: -1;
      @include from('tablet--pt') {
        flex: 1 1 span(6 of 12);
        order: 3;
        max-width: 50%;
      }
    }
  }
  &__sub-column {
    display: none;
    @include from('tablet--pt') {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  &__name {
    @include font-sizes('medium', 'alpha-tablet');
    color: $cl__light--alpha;
    position: absolute;
    bottom: 3px;
    left: 8px;
    z-index: 1;
    @include from('tablet--pt') {
      @include font-sizes('medium', 'beta-tablet');
      left: 10px;
      bottom: 5px;
    }
    @include from('desktop') {
      @include font-sizes('medium', 'beta-desktop');
      left: 15px;
      bottom: 7px;
    }
  }
}
