.article {
  background: $cl__light--alpha;
	color: $cl__dark--beta;
	&__container {
		padding: 62px 0 54px;
		position: relative;
		@include from('tablet--pt') {
			padding: 78px 0 82px;
			padding-left: span(1 wide);
		}
		@include from('desktop') {
			padding: 96px 0 50px;
			padding-right: span(1 wide);
      padding-left: span(2 wide);
		}
	}
	&__text {
		@include font-sizes('medium', 'alpha-tablet');
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
		@include from('desktop') {
			@include font-sizes('medium', 'beta-desktop');
		}
	}
}
